<div class="education">
  <section id="app-home" class="screen"><div class="text-left text-5xl font-extrabold leading-none tracking-tight">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500">
      Education
    </span>
  </div></section>
    <h3 class="bg-clip-text text-transparent font-bold bg-gradient-to-r from-red-400 to-purple-500">Temple University College of Science and Technology</h3>
    <p class="font-sans"> Studying BS in Computer Science, Expected Graduation: 2025</p>
    <p class="times-new-roman"> -Clubs: TEMPLE ACM, TU Developers Club </p>
  </div>
  