<div class="project-item">
    <section id="app-home" class="screen">
        <div class="text-left text-5xl font-extrabold leading-none tracking-tight space-y-10">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500">
                My Projects
            </span>
            <p class="underline font-sans mt-4">
                <a href="https://github.com/Sr1g4" target="_blank">View on GitHub 🚀 (Click Me!!!)</a>
            </p>
            
            <h3 class="mt-4">Email Scheduler ✉️</h3>
            <p class="font-sans mt-4">Designed and implemented a Python-based email scheduler for Linux on my machine.</p>
            
            <h3 class="mt-4">Research Assistant📈</h3>
            <p class="font-sans mt-4">Developed financial models using Python for options pricing and volatility analysis.</p>
        </div>
    </section>
</div>
