<div class="container">
    <section id="app-home" class="screen"><div class="text-center text-5xl font-extrabold leading-none tracking-tight">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500">
        Hello, I am Sri, I like to code.
      </span>
    </div></section>
    <div style="display: flex; justify-content: center; align-items: center; height: 0;">
      <svg class="animate-bounce w-6 h-6 text-gray-900" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
  </div>  
    <section id="app-about" class="screen">My Core Interests include Business, Technology, and Research. To Learn More about me Click the Nav!!!</section>
  </div>
  <div class="footer">
    <p class="font-sans"> &#169; 2024 By Srivatsa Gadicherla</p>
  </div>
